version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - /tools/buf
      - /tools/envdoc
      - /tools/fiximports
      - /tools/go-enum
      - /tools/gocov
      - /tools/gocov-html
      - /tools/goimports
      - /tools/golangci-lint
      - /tools/goose
      - /tools/goreadme
      - /tools/goreleaser
      - /tools/gotestsum
      - /tools/goveralls
      - /tools/govulncheck
      - /tools/gowrap
      - /tools/mockery
      - /tools/oapi-codegen
      - /tools/panicparse
      - /tools/sqlc
      - /tools/stringer
      - /tools/svu
      - /tools/swag
      - /tools/swagger
      - /tools/tbls
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    assignees:
      - "obalunenko"
    reviewers:
      - "obalunenko"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    assignees:
      - "obalunenko"
    reviewers:
      - "obalunenko"
    commit-message:
      prefix: "chore"
      include: "scope"
